.navegacion {
    width: 100%;
    margin: 25px auto;
    text-align: center;

    .submenu{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        font-weight: 800;
        font-stretch: semi-expanded;
         
        > li {
            display: inline-block;

               a{
                    background-color: white;
                    display: block;
                    padding: 2px;
                    text-decoration: none;
                    color:black;
                }
            }
            & :hover{
                color: aqua;
                transition: all .3s;
             }
             .submenu_1{
                position: absolute;
                visibility: hidden;
                opacity: 0;
                transition: opacity 1.2s;
              }
              &:hover .submenu_1{
                visibility: visible;
                opacity: 1;
              }
        }

      }
          ul {
        list-style: none;
     }


    

   .contenedor{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      float: left;
      overflow: hidden;
      padding-top: 6rem;
      padding-bottom: 1rem;
       padding-left: 80px;
       margin: 1rem;

       figure {
        position: relative;
        height: 325px;
        width: 328px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 50);
        cursor: pointer;


        img {
            width: 100%;
            height: 100%;
            transition: all 500ms ease-out;
           }

           .capa {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(243, 251, 253, 0.548);
            transition: all 500ms ease-out;
           
             visibility: hidden;
            text-align: center;
           }

           &:hover .capa {
            opacity: 1;
            visibility: visible;
           }

           &:hover .capa h3{
            margin-top: 30px;
            margin-bottom: 15px;
            transition: all 500ms ease-out;
            font-size: 1.1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
           }

           &:hover  img{
            transform: scale(1.3);
           }
           
           &:hover .capa button{
            font-size: large;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
           }

     }
  }